@font-face {
  font-family: Inter;
  src: url(/src/assets/fonts/Inter/Inter-Light.woff2) format("woff2");

  font-family: Inter-ExtraBold;
  src: url(/src/assets/fonts/Inter/Inter-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(/src/assets/fonts/Inter/Inter-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: Inter-Bold;
  src: url(/src/assets/fonts/Inter/Inter-Bold.woff2) format("woff2");
}

@font-face {
  font-family: Inter-Regular;
  src: url(/src/assets/fonts/Inter/Inter-Regular.woff2) format("woff2");
}

@font-face {
  font-family: Inter-Medium;
  src: url(/src/assets/fonts/Inter/Inter-Medium.woff2) format("woff2");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.woff) format("woff2");
}

/* ------------------
# STYLE TEXT
------------------ */

.text--menu {
  color: var(--color-grey);
  font-family: Inter-SemiBold;
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  line-height: var(--lh-small);
}

.text--chip {
  color: var(--color-light-blue);
  font-family: Inter-ExtraBold;
  font-size: var(--fs-tiny);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tiny);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.text--tiny {
  color: var(--color-black);
  font-family: Inter-ExtraBold;
  font-size: var(--fs-tiny);
  font-weight: var(--fw-medium);
  line-height: var(--lh-small);
}

.text--sup-bg {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: var(--fs-huge);
  font-weight: var(--fw-normal);
  line-height: var(--lh-large);
}

.text--sub-headline {
  color: var(--color-grey);
  font-family: Inter-Regular;
  font-size: var(--fs-x-big);
  font-weight: var(--fw-tiny);
  line-height: var(--lh-small);
}

.text--medium {
  font-family: Inter-Medium;
  font-size: var(--fs-normal);
  font-weight: var(--fw-light);
  line-height: var(--lh-small);
  color: var(--color-grey);
}

.text--headline-bg {
  color: var(--color-black-white);
  font-family: Poppins-SemiBold;
  font-size: var(--fs-large);
  font-weight: var(--fw-normal);
  line-height: var(--lh-big);
}

.text--headline-md {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: var(--fs-xx-big);
  font-weight: var(--fw-normal);
  line-height: var(--lh-medium);
}

.text--headline-sm {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: var(--fs-x-big);
  font-weight: var(--fw-normal);
  line-height: var(--lh-small);
}

.text--headline-tiny {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: var(--fs-big);
  font-weight: var(--fw-normal);
  line-height: var(--lh-small);
}

.text--body {
  font-family: Inter-Medium;
  font-size: var(--fs-normal);
  font-weight: var(--fw-light);
  line-height: var(--lh-small);
  color: var(--color-grey);
}

.text--caption {
  color: var(--color-grey);
  font-family: Inter-SemiBold;
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  line-height: var(--lh-small);
}

.text--comment {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: var(--fs-m-big);
  font-weight: var(--fw-normal);
  line-height: var(--lh-normal);
}

.text--black {
  color: var(--color-black);
}

.text--white {
  color: var(--color-white);
}

.text--grey {
  color: var(--color-grey);
}

.text--menu:hover {
  color: var(--color-black);
  text-decoration: underline;
}
