@font-face {
  font-family: Inter;
  src: url(/src/assets/fonts/Inter/Inter-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url(/src/assets/fonts/Inter/Inter-ExtraBold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(/src/assets/fonts/Inter/Inter-SemiBold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter-Bold;
  src: url(/src/assets/fonts/Inter/Inter-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter-Regular;
  src: url(/src/assets/fonts/Inter/Inter-Regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter-Medium;
  src: url(/src/assets/fonts/Inter/Inter-Medium.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.woff) format("woff2");
  font-display: swap;
}

/* ------------------
# STYLE TEXT
------------------ */

.text--nav-link {
  color: var(--color-grey);
  font-family: Inter-SemiBold;
  font-size: calc(16 / var(--root-size) * 1rem);
  font-weight: 600;
  line-height: calc(24 / var(--root-size) * 1rem);
}

.text--medium {
  color: var(--color-grey);
  font-family: Inter-Medium;
  font-size: calc(16 / var(--root-size) * 1rem);
  font-weight: 500;
  line-height: calc(24 / var(--root-size) * 1rem);
}

.text--headline-bg {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: calc(40 / var(--root-size) * 1rem);
  font-weight: 600;
  line-height: calc(48 / var(--root-size) * 1rem);
}

.text--headline-md {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: calc(24 / var(--root-size) * 1rem);
  font-weight: 600;
  line-height: calc(32 / var(--root-size) * 1rem);
}

.text--nav-link:hover {
  color: var(--color-orange);
}
