.btn--common {
  padding: calc(14 / var(--root-size) * 1rem) calc(22 / var(--root-size) * 1rem);
  border-radius: 16px;
  font-family: Inter-Bold;
  font-size: calc(16 / var(--root-size) * 1rem);
  font-weight: var(--fw-medium);
  line-height: calc(24 / var(--root-size) * 1rem);
  width: fit-content;
  cursor: pointer;
}

.btn--primary {
  border: 2px solid var(--color-black);
  opacity: 0.75;
  color: #272e35;
}

.btn--secondary {
  border: 2px solid var(--color-orange);
  background: var(--color-orange);
  color: var(--color-white);
}

.btn--secondary:hover {
  border: 2px solid var(--color-grey);
  background-color: transparent;
  color: var(--color-grey);
  transition: 0.3s;
  box-shadow: 0 3px #21212133;
}

.btn--primary:hover {
  border: 2px solid var(--color-orange);
  background: var(--color-orange);
  color: var(--color-white);
  opacity: 1;
  transition: 0.3s;
  box-shadow: 0 3px #21212133;
}
