.features__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 560px;
  margin-top: 75px;
}

.features__content{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 405px;
  margin: 165px 100px 118px 0;
  gap: 55px;
}

.features__content-text {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 100% ;
  gap: 16px;
}

.features__pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 41px 34px 0;
}
