.card {
  background: #f7f7f8;
  border-radius: 24px;
  padding: calc(24 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem);
}

.price-type {
  position: relative;
}

.price-type::after {
  content: "";
  position: absolute;
  width: calc(240 / 319 * 100%);
  height: calc(2 / var(--root-size) * 1rem);
  top: calc(164 / var(--root-size) * 1rem);
  left: 0;
  background: var(--color-light-blue);
  opacity: 0.1;
}

.pricing-card-price {
  margin-top: calc(24 / var(--root-size) * 1rem);
}

.currency {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: calc(24 / var(--root-size) * 1rem);
  font-weight: 600;
  line-height: calc(44 / var(--root-size) * 1rem);
  vertical-align: top;
}

.amount {
  position: relative;
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: calc(64 / var(--root-size) * 1rem);
  font-weight: 600;
  line-height: calc(72 / var(--root-size) * 1rem);
}

.per-month {
  vertical-align: baseline;
}

.pricing-card-desc {
  padding-right: calc(72 / var(--root-size) * 1rem);
  margin-top: calc(62 / var(--root-size) * 1rem);
}
.pricing-card-button {
  margin-top: calc(32 / var(--root-size) * 1rem);
}

.features-toggled {
  margin-top: calc(32 / var(--root-size) * 1rem) !important;
}

.pricing-feature-toggle {
  margin-top: calc(24 / var(--root-size) * 1rem);
}

.feature-toggle-text {
  color: var(--color-black);
  font-family: Inter-Bold;
  font-size: calc(16 / var(--root-size) * 1rem);
  font-weight: 600;
  line-height: calc(24 / var(--root-size) * 1rem);
  margin-right: calc(4 / var(--root-size) * 1rem);
}

.toggle-features-down-icon {
  display: inline-block;
  width: calc(17 / var(--root-size) * 1rem);
  height: calc(10 / var(--root-size) * 1rem);
  background-image: url(/src/assets/images/prices/arrow-down.png);
  background-position: center center;
  background-size: cover;
}

.toggle-features-up-icon {
  display: inline-block;
  width: calc(17 / var(--root-size) * 1rem);
  height: calc(10 / var(--root-size) * 1rem);
  background-image: url(/src/assets/images/prices/arrow-up.png);
  background-position: center center;
  background-size: cover;
}

.pricing-feature-list {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: calc(32 / var(--root-size) * 1rem);
}

.pricing-feature-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.popular {
  padding: calc(8 / var(--root-size) * 1rem) calc(16 / var(--root-size) * 1rem);
  border-radius: 100px;
  background: var(--color-light-blue);
  width: fit-content;
  margin-bottom: calc(20 / var(--root-size) * 1rem);
  color: var(--color-white);
  font-family: Inter-ExtraBold;
  font-size: calc(11 / var(--root-size) * 1rem);
  font-weight: 900;
  line-height: calc(16 / var(--root-size) * 1rem);
  letter-spacing: calc(1.1 / var(--root-size) * 1rem);
  text-transform: uppercase;
}

.cover-business-img {
  min-height: calc(83 / var(--root-size) * 1rem);
  margin: calc(20 / var(--root-size) * 1rem) 0 0 0;
}

.business-desc {
  margin-top: calc(53 / var(--root-size) * 1rem);
}

.business-img {
  width: fit-content;
}

@media screen and (min-width: 992px) {
  .card {
    background: var(--color-light-background, #f7f7f8);
    padding: 0 0 calc(101 / var(--root-size) * 1rem) 0;
  }

  .card:nth-child(1) {
    border-radius: 24px 0 0 24px;
    margin-top: calc(32 / var(--root-size) * 1rem);
  }

  .card:nth-child(3) {
    border-radius: 0 24px 24px 0;
    margin-top: calc(32 / var(--root-size) * 1rem);
    padding-bottom: calc(100 / var(--root-size) * 1rem);
  }

  .card:nth-child(2) {
    position: relative;
    border-radius: 24px 24px 0 0;
    padding-top: 0;
  }

  /* pricing-card */

  .pricing-card {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #eaecf1;
    padding: calc(40 / var(--root-size) * 1rem) 0 calc(47 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem);
  }

  .pricing-card-desc{
    max-width: calc(200 / var(--root-size) * 1rem);
    padding-right: 0;
  }

  .card:nth-child(2) .pricing-card {
    background-color: #fff;
    padding: calc(8 / var(--root-size) * 1rem) calc(8 / var(--root-size) * 1rem) calc(80 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem);
    border-radius: 24px;
    box-shadow: 0 calc(8 / var(--root-size) * 1rem) calc(16 / var(--root-size) * 1rem) 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }

  .popular {
    align-self: flex-end;
    margin-bottom: calc(32 / var(--root-size) * 1rem);
  }

  /* prcing-features  */

  .feature-title {
    display: grid;
    grid-template-rows: minmax(calc(32 / var(--root-size) * 1rem), auto) auto;
    row-gap: 28px;
    border-bottom: 2px solid #eaecf1;
  }

  .feature-type {
    color: var(--color-grey);
    font-family: Poppins-SemiBold;
    font-size: calc(20 / var(--root-size) * 1rem);
    font-weight: 600;
    line-height: calc(24 / var(--root-size) * 1rem);
  }

  .card:nth-child(2) .pricing-features {
    background: var(--color-light-background, #fff);
    border-radius: 0 0 24px 24px;
    position: absolute;
    bottom: calc(36 / var(--root-size) * 1rem);
    width: 100%;
    z-index: 1;
    padding-bottom: calc(120 / var(--root-size) * 1rem);
  }

  .card:nth-child(1) .pricing-features .feature-title {
    margin-left: calc(24 / var(--root-size) * 1rem);
    padding: calc(69 / var(--root-size) * 1rem) 0 calc(37 / var(--root-size) * 1rem) 0;
  }

  .card:nth-child(2) .pricing-features .feature-title {
    padding: calc(70 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem) calc(35 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem);
  }

  .card:nth-child(3) .pricing-features .feature-title {
    padding: calc(70 / var(--root-size) * 1rem) 0 calc(35 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem);
    margin-right: calc(24 / var(--root-size) * 1rem);
  }

  .feature-type {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .pricing-feature-list {
    margin: 0;
    padding: calc(43 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem) 0 calc(24 / var(--root-size) * 1rem);
  }
}

@media screen and (min-width: 1440px) {
  .pricing-card {
    padding-left: calc(40 / var(--root-size) * 1rem);
  }

  .card:nth-child(3) {
    padding-bottom: calc(75 / var(--root-size) * 1rem);
  }

  .card:nth-child(2) .pricing-card {
    padding-left: calc(40 / var(--root-size) * 1rem);
  }

  .card:nth-child(2) .pricing-features .feature-title {
    padding-left: calc(40 / var(--root-size) * 1rem);
  }

  .card:nth-child(1) .pricing-features .feature-title {
    margin-left: calc(40 / var(--root-size) * 1rem);
  }

  .card:nth-child(3) .pricing-features .feature-title {
    padding-left: calc(40 / var(--root-size) * 1rem);
  }

  .card:nth-child(2) .pricing-features {
    padding-bottom: calc(93 / var(--root-size) * 1rem);
    bottom: calc(38 / var(--root-size) * 1rem);
  }

  .pricing-feature-list {
    margin: 0;
    padding: calc(43 / var(--root-size) * 1rem) calc(40 / var(--root-size) * 1rem) calc(24 / var(--root-size) * 1rem);
  }
}
