.card {
  background: #f7f7f8;
  border-radius: calc(24 / 16 * 1rem);
  margin-bottom: calc(32 / 16 * 1rem);
}

.pricing-card {
  display: flex;
  flex-direction: column;
  padding: calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
}

.feature-title {
  display: none;
}

.pricing-card-price {
  margin: calc(24 / 16 * 1rem) 0 calc(62 / 16 * 1rem) 0;
}

.pricing-feature-toggle {
  cursor: pointer;
  width: fit-content;
}

.icon-play {
  font-size: calc(13 / 16 * 1rem);
  margin-right: calc(9 / 16 * 1rem);
  margin-left: calc(4 / 16 * 1rem);
}

.feature-hidden {
  display: none;
}

.currency {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: calc(24 / 16 * 1rem);
  font-weight: 600;
  line-height: calc(30 / 16 * 1rem);
  vertical-align: top;
}

.amount {
  color: var(--color-black);
  font-family: Poppins-SemiBold;
  font-size: calc(64 / 16 * 1rem);
  font-weight: 600;
  line-height: var(--lh-big);
}

.popular {
  padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
  border-radius: calc(100 / 16 * 1rem);
  background: var(--color-light-blue);
  width: fit-content;
  margin-bottom: calc(20 / 16 * 1rem);
  color: var(--color-white);
  font-family: Inter-ExtraBold;
  font-size: calc(11 / 16 * 1rem);
  font-weight: 900;
  line-height: calc(16 / 16 * 1rem);
  letter-spacing: calc(1.1 / 16 * 1rem);
  text-transform: uppercase;
}

.pricing-card-desc {
  position: relative;
  max-width: calc(200 / 16 * 1rem);
}

.pricing-card-desc::before {
  content: "";
  position: absolute;
  width: calc(240 / 16 * 1rem);
  height: calc(2 / 16 * 1rem);
  top: calc(-32 / 16 * 1rem);
  right: calc(-40 / 16 * 1rem);
  background: var(--color-light-blue);
  opacity: 0.1;
}

.feature-type {
  color: var(--color-grey);
  font-family: Poppins-SemiBold;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 600;
  line-height: calc(24 / 16 * 1rem);
}

.pricing-feature__list {
  display: flex;
  flex-direction: column;
  gap: calc(32 / 16 * 1rem);
  padding: calc(32 / 16 * 1rem) 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
}

.pricing-feature__item {
  display: flex;
  flex-direction: row;
  gap: calc(12 / 16 * 1rem);
}

.pricing-card-button {
  margin: calc(32 / 16 * 1rem) 0;
}

.feature-type {
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 992px) {
  .card {
    background: var(--color-light-background, #f7f7f8);
    margin-bottom: 0;
  }

  .pricing-feature-toggle {
    display: none;
  }

  .feature-hidden {
    display: block;
  }

  .feature-title {
    padding: calc(70 / 16 * 1rem) 0 calc(40 / 16 * 1rem) calc(24 / 16 * 1rem);
    display: grid;
    grid-template-rows: minmax(calc(32 / 16 * 1rem), auto) auto;
    row-gap: calc(30 / 16 * 1rem);
    border-bottom: calc(2 / 16 * 1rem) solid #eaecf1;
  }

  .card:nth-child(1) {
    border-radius: calc(24 / 16 * 1rem) 0 0 calc(24 / 16 * 1rem);
    margin-top: calc(32 / 16 * 1rem);
  }

  .card:nth-child(3) {
    border-radius: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0;
    margin-top: calc(32 / 16 * 1rem);
  }

  .card:nth-child(2) {
    position: relative;
    border-radius: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0 0;
  }

  .card:nth-child(1) .pricing-card,
  .card:nth-child(3) .pricing-card {
    border-bottom: calc(2 / 16 * 1rem) solid #eaecf1;
    padding: calc(40 / 16 * 1rem) 0 calc(8 / 16 * 1rem) calc(24 / 16 * 1rem);
  }

  .card:nth-child(2) .pricing-card {
    background-color: #fff;
    padding: calc(8 / 16 * 1rem) calc(8 / 16 * 1rem) calc(48 / 16 * 1rem)
      calc(24 / 16 * 1rem);
    border-radius: calc(24 / 16 * 1rem);
    box-shadow: 0 calc(8 / 16 * 1rem) calc(16 / 16 * 1rem) 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }

  .card:nth-child(2) .pricing-features {
    background: var(--color-light-background, #fff);
    border-radius: 0 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
    position: absolute;
    bottom: calc(56 / 16 * 1rem);
    width: 100%;
    z-index: 1;
  }

  .pricing-card:nth-child(2) .pricing-card-price {
    margin: calc(24 / 16 * 1rem) 0 calc(62 / 16 * 1rem) 0;
  }

  .popular {
    align-self: flex-end;
    margin-bottom: calc(32 / 16 * 1rem);
  }

  .pricing-feature__list {
    padding-top: calc(40 / 16 * 1rem);
    padding-bottom: calc(101 / 16 * 1rem);
  }
}

@media screen and (min-width: 1440px) {
  .card:nth-child(2) .pricing-card {
    padding: calc(8 / 16 * 1rem) calc(8 / 16 * 1rem) calc(48 / 16 * 1rem)
      calc(40 / 16 * 1rem);
  }

  .card:nth-child(1) .pricing-card,
  .card:nth-child(3) .pricing-card {
    padding: calc(40 / 16 * 1rem) 0 calc(16 / 16 * 1rem) calc(40 / 16 * 1rem);
  }

  .feature-title {
    padding-left: calc(40 / 16 * 1rem);
  }

  .pricing-feature__list {
    padding-left: calc(40 / 16 * 1rem);
  }

  .pricing-card-desc::before {
    width: calc(288 / 16 * 1rem);
    right: calc(-90 / 16 * 1rem);
  }
}
