.storage{
  margin: 178px 160px 0;
  height: 591px;
  border-radius: 24px;
  background: var(--color-light-background, #F7F7F8);
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10);
  position: relative;
  display: flex;
  gap: 24px;
}
.storage__content{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 143px 0 150px 80px;
}
.storage__text{
  width: 405px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.storage-decs{
  margin-top: 10px;
}
.storage_image{
  position: absolute;
  bottom: -20px;
  left: 425px;
}
