.features {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.features__image {
  width: fit-content;
  margin: 0 auto;
}
.features__title {
  width: 549px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  gap: 16px;
}
.features__stay-focus {
  height: 560px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.features__stay-focus-image {
  position: absolute;
  top: 2px;
  left: 30px;
}
.features__content-stay-focus {
  width: 405px;
  position: relative;
  margin: 42px 100px 0 0;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.features__content-icon-cursor {
  position: absolute;
  bottom: 286px;
  right: 217px;
}
.features__content-icon-bubble {
  position: absolute;
  bottom: 288px;
  right: 218px;
}
.features__content-icon {
  position: absolute;
  bottom: 234px;
  right: 218px;
}
.features__content-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features__pagination {
  margin: 0 41px 34px 0px;
}
.features__share-files {
  height: 560px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.features__share-files-image {
  position: absolute;
  top: 0px;
  left: 89px;
}
.features__content-share-files {
  width: 405px;
  position: relative;
  margin: 61px 100px 0 0;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.features__content-icon-bubble {
  position: absolute;
  bottom: 264px;
  right: 279px;
}
.features__collab {
  height: 560px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.features__collab-image {
  position: absolute;
  top: 0px;
  left: 62px;
}
.features__content-collab {
  width: 405px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin: 43px 100px 0 0;
}
.features__content-icon-plane {
  position: absolute;
  bottom: 261px;
  right: 212px;
}
