.footer{
  margin: 0 160px 24px;
}
.footer__content{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(116, 143, 181, 0.3) ;
}
.footer-information{
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 56px;
}
.footer-download{
  display: flex;
  gap: 10px;
}
.footer__list{
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-top: 160px;
}
.end-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.footer-social__list{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
