.header {
  padding-top: 48px;
  margin: 0 160px ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  min-width: 137px;
  min-height: 48px;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  gap: 49px;
}

.header__button {
  display: flex;
  gap: 8px;
}
