.btn--primary {
  border-radius: 16px;
  border: 2px solid transparent;
  color: var(--color-grey);
  width: fit-content;
}

.btn--secondary {
  border-radius: 16px;
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-white);
  width: fit-content;
}

.btn--primary-border {
  border-radius: 16px;
  border: 2px solid var(--color-grey);
  opacity: 0.75;
  color: var(--color-black);
  width: fit-content;
}

.btn--primary-border-w {
  border-radius: 16px;
  border: 2px solid var(--color-white);
  opacity: 0.75;
  color: var(--color-white);
  width: fit-content;
}

.btn--big {
  padding: 14px 22px;
}

.btn--small {
  padding: 12px 24px;
}

.btn--primary:hover{
  border: 2px  solid var(--color-grey);
  transition: 0.3s;
  box-shadow: 0 3px #21212133;
}

.btn--secondary:hover{
  border: 2px solid var(--color-grey);
  background-color: transparent;
  color: var(--color-grey);
  transition: 0.3s;
  box-shadow: 0 3px #21212133;
}

.btn--primary-border:hover{
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-white);
  opacity: 1;
  transition: 0.3s;
  box-shadow: 0 3px #21212133;
}
