.btn--primary {
  display: flex;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  color: var(--state-light, #6e757c);
}
.btn--secondary {
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid var(--color-primary-cta, #ff6e30);
  background: var(--color-primary-cta, #ff6e30);
  color: var(--state-bold-white, #fff);
  width: fit-content;
}
.btn--primary-border {
  border-radius: 16px;
  border: 2px solid #272e35;
  opacity: 0.75;
  color: #272e35;
  width: fit-content;
}
.btn--primary-border-w {
  border-radius: 16px;
  border: 2px solid #fff;
  opacity: 0.75;
  color: var(--state-bold-white, #fff);
  font-family: Inter-Bold;
  width: fit-content;
}
.btn--big {
  padding: 14px 22px;
}
.btn--small {
  padding: 12px 22px;
}
