.features {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.features__image {
  width: fit-content;
  margin: 0 auto;
}

.features-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  gap: 16px;
}

.features-stay-focus__image {
  position: absolute;
  top: 2px;
  left: 30px;
}

.features-content__icon-cursor {
  position: absolute;
  top: -138px;
  left: -147px;
}

.features-content__icon-bubble {
  position: absolute;
  top: -135px;
  left: -59px;
}

.features-content__icon-plane {
  position: absolute;
  top: -150px;
  left: -56px;
}

.features-share-files__image {
  position: absolute;
  top: 0px;
  left: 89px;
}

.features-content__icon-bubble {
  position: absolute;
  bottom: 264px;
  right: 279px;
}

.features-collab__image {
  position: absolute;
  top: 2px;
  left: 62px;
}
