.footer-information {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0 calc(15 / 16 * 1rem);
  gap: calc(24 / 16 * 1rem);
}

.footer-desc {
  color: var(--color-grey);
  font-family: Inter-Medium;
  font-size: calc(16 / 16 * 1rem);
  font-weight: 500;
  line-height: calc(24 / 16 * 1rem);

  max-width: 66.18%;
  text-align: center;
}

.footer-nav-list {
  display: none;
}

.footer-download {
  display: flex;
  padding-bottom: calc(24 / 16 * 1rem);
}

.end-footer {
  margin: 0 calc(15 / 16 * 1rem);
  padding: calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: calc(24 / 16 * 1rem);
  border-top: calc(2 / 16 * 1rem) solid #dce0e9;
}

.footer-social-list {
  display: flex;
  gap: calc(12 / 16 * 1rem);
}

.auther-text {
  color: var(--color-grey);
  font-family: Inter-SemiBold;
  font-size: calc(13 / 16 * 1rem);
  font-weight: 600;
  line-height: calc(24 / 16 * 1rem);
}

@media screen and (min-width: 992px) {
  .footer-information {
    grid-template-columns: 1fr 1fr;
    margin-bottom: calc(52 / 16 * 1rem);
    padding: 0 calc(64 / 16 * 1rem);
    justify-items: start;
  }

  .footer-img-cover {
    grid-row: 1 / span 1;
  }
  .footer-desc {
    max-width: calc(345 / 16 * 1rem);
    grid-row: 2 / span 1;
    text-align: left;
  }

  .footer-download {
    grid-row: 1 / span 2;
    justify-self: end;
  }

  .end-footer {
    display: flex;
    justify-content: space-between;
    padding: calc(24 / 16 * 1rem) 0;
    margin: 0 calc(64 / 16 * 1rem);
  }

  .footer-social-list {
    display: flex;
    flex-direction: row;
    gap: calc(24 / 16 * 1rem);
  }
}

@media screen and (min-width: 1440px) {
  .footer-information {
    padding: 0;
  }

  .footer-download {
    grid-row: 3 / span 1;
    justify-self: start;
  }

  .footer-nav-list {
    display: flex;
    gap: calc(48 / 16 * 1rem);
    grid-row: 3 / span 1;
    margin-top: calc(16 / 16 * 1rem);
  }

  .end-footer {
    padding: calc(24 / 16 * 1rem) 0;
    margin: 0 auto;
  }
}
