.header {
  padding-top: calc(48 / 16 * 1rem);
  margin: 0 calc(32 / 16 * 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: none;
}

.header-button {
  display: none;
}

@media (min-width: 992px) {
  .header {
    margin: 0 calc(64 / 16 * 1rem);
  }
}

@media (min-width: 1200px) {
  .header {
    flex-direction: row;
    margin: 0 calc(112 / 16 * 1rem);
  }

  .menu {
    display: none;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-nav__list {
    display: flex;
    flex-direction: row;
    margin-left: calc(55 / 16 * 1rem);
    gap: calc(49 / 16 * 1rem);
  }

  .item--active {
    color: var(--color-orange);
  }

  .header-button {
    display: flex;
    gap: calc(8 / 16 * 1rem);
  }

  .btn-login {
    border: calc(2 / 16 * 1rem) solid transparent;
    color: var(--color-grey);
  }

  .btn-login:hover {
    border: calc(2 / 16 * 1rem) solid var(--color-grey);
    transition: 0.3s;
    box-shadow: 0 3px #21212133;
  }
}
@media (min-width: 1440px) {
  .header {
    margin: 0 auto;
  }
}
