.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  margin: 0 160px ;
}

.header__logo{
  min-width: 137px;
  min-height: 48px;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  gap: 49px;
}

.header__button {
  display: flex;
  gap: 8px;
}

.login-button{
  border: 2px solid transparent;
  color: var(--color-grey);
}

.login-button:hover{
  border: 2px  solid var(--color-grey);
  transition: 0.3s;
  box-shadow: 0 3px #21212133;
}
