.member {
  margin: 68px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.member__image {
  position: absolute;
  top: -42px;
  right: 308px;
}

.member-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 210px 19px;
}

.member-desc {
  margin-top: 12px;
}
