.member {
  margin: 68px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.member-image {
  position: absolute;
  top: -42px;
  right: 308px;
}

.member__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 210px 19px;
  max-width: 455px;
  word-wrap: break-word;
}

.member__content-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.member-desc {
  margin-top: 12px;
}
