.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 68px 160px;
}

.notification-image {
  position: absolute;
  top: -217px;
  left: 57px;
  z-index: -3;
}

.notification__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 153px 0;
}

.notification__content-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification-desc {
  margin-top: 12px;
}
