.storage {
  position: relative;
  margin: 177px 160px 100px;
  border-radius: 24px;
  background: #f7f7f8;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
}

.storage-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 144px 0 150px 80px;
}

.storage-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 455px;
  word-wrap: break-word;
}

.storage-decs {
  margin-top: 10px;
}

.storage_image {
  position: absolute;
  bottom: -20px;
  right: -160px;
}
