.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
  margin: 138px 160px 136px;
}

.testimonial-comment__list {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 78px;
  width: 100%;
}

.testimonial-comment__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 31px;
  padding-left: 16px;
}

.testimonial-star__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.testimonial-control {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.testimonial-control__button{
  border: none;
  cursor: pointer;
}
