.testimonial {
  margin: 133px 160px 136px;
}

.testimonial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.testimonial__comment-list {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 78px;
  width: 100%;
}

.testimonial__comment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 31px;
  padding-left: 16px;
}

.testimonial__star-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.testimonial-control {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.testimonial-control__button{
  border: none;
  cursor: pointer;
}